.swiper-pagination {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid rgba(217, 217, 217, 0.5);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: rgba(217, 217, 217, 0.5);
  border: none;
}